html, body {
    height: 100%;
    margin: 0;
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 1px solid black;
    width: 550px;
    height: 550px;
    color: white;
    font-size: larger;
    gap: 3px;
    background-color: white;
    border: 3px solid white;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    margin: auto;
    position: absolute;
}

.white {
    background-color: black;
}

.black {
    background-color: lightblue;

}